main .container form {
  width: 428px;
  margin: auto;
}

main .container form div {
  border-top: 1px solid #EEEEEE;
}

main .container form input {
  font-size: 20px;
  width: 428px;
  height: 35px;
  border-style: hidden;
  margin: 5px 0 5px 0;
  outline-width: 0;
}

main .container form textarea {
  width: 426px;
  height: 150px;
  border-style: none;
  margin: 5px 0 5px 0;
  resize: none;
  font-size: 20px;
  outline-width: 0;
}

main .container form textarea {
  border-bottom: 1px solid #EEEEEE;
}

main .container form input,
main .container form textarea {
  color: #2C3E50;
}

main .container form input:placeholder-shown {
  font-family: "Lato", serif;
  font-size: 20px;
}

main .container form textarea:placeholder-shown {
  font-family: "Lato", serif;
  font-size: 20px;
}

main .container button {
  font-family: "Lato", serif;
  font-size: 1.5em;
  color: white;
  background: #18BC9C;
  border-style: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  float: right;
  margin: 20px 280px 20px 0;
  cursor: pointer;
  outline: none;
}

main .container button:hover {
  background: #128f76;
}